<div class="container">
  <mat-toolbar color="primary">
    <a class="logo" [routerLink]="auth.ehBackoffice() ? '/backoffice' : '/hero'"
      >🎓 {{ title() }}</a
    >
    <span class="spacer"></span>

    @if (!isBackoffice()) {
      <a mat-button class="toolbar-link" routerLink="/cursos" routerLinkActive="active">Cursos</a>
      <a mat-button class="toolbar-link" routerLink="/meus-cursos" routerLinkActive="active"
        >Meus Cursos</a
      >
    }

    @if (isBackoffice()) {
      <a mat-button class="toolbar-link" routerLink="/backoffice" routerLinkActive="active"
        >BackOffice</a
      >
    }

    <button mat-button class="toolbar-link" (click)="sair()">Sair</button>
  </mat-toolbar>
</div>

<router-outlet />
